Package: com.yuigawada.calllslicer
Name: CallSlicer
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: CallSlicer enables you to receive LINE call on your Apple Watch!
Maintainer: YuWd
Author: YuWd
Section: Tweaks
Version: 0.0.1-6+debug
Installed-Size: 208
