{
	Filter = {
		Bundles = (
			"com.skype.skype",
			"jp.naver.line",
			"com.apple.springboard",
			"com.facebook.Messenger",
			"com.google.hangouts",
			"com.viber",
			"net.whatsapp.WhatsApp",
			"com.iwilab.KakaoTalk",
			"com.tencent.xin",
			"vn.com.vng.zingalo",
			"co.babypenguin.imo",
			"com.vocalocity.viphone",
			"imoimiphone",
		);
	};
}
